<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'handy_app/css/boots.css' %}">
    <link rel="stylesheet" href="{% static 'handy_app/css/mycss.css' %}">
    <title>Dashboard</title>
</head>

<body>
    <div id="container">
        <div class="options"><a href='/logout'>Logout</a> | <a href='/addjob'>Add A Job</a></div>
        <h1>Welcome {{ user.first_name }}!</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for elem in otherjobs %}
                <tr>
                    <td>{{ elem.title }}</td>
                    <td>{{ elem.location }}</td>
                    <td>
                        <a href='/view/{{elem.id}}'>View</a>
                        <a href='/add/{{elem.id}}'>Add</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>My Jobs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for elem in myjobs %}
                <tr>
                    <td>{{ elem.desc }}</td>
                    <td>
                        <a href='/view/{{elem.id}}'>View</a>
                        <a href='/delete/{{elem.id}}'>Done</a>
                        {% if elem.posted_by.id == request.session.user_id %}
                            <a href='/edit/{{elem.id}}'>Edit</a>
                            <a href='/delete/{{elem.id}}'>Cancel</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>