<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rev_app/css/boots.css' %}">
    <link rel="stylesheet" href="{% static 'rev_app/css/mycss.css' %}">
    <title>Title</title>
</head>

<body>
    <div id="container">
        <div>
            <h1>{{ new.title }}</h1>
            <a href='/home'>Home</a>
            <a href='/logout'>Logout</a>
            <h2>Author: {{ new.author }}</h2>
            <h3>Reviews:</h3>
            <h4>Rating: {{ new.rating }}/5 Stars</h4>
            <h4>{{ new.reviewer.alias }}</h4>
            <p><a href="/review/{{new.uploader.id}}">{{ new.uploader.alias }}</a> says "{{ new.review }}"</p>
        </div>
        <div>
            <form action="/book_info" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <p>Add a Review:</p>
                    <textarea class="form-control" name="review"></textarea>
                </div>
                <div class="form-group">
                    Rating:
                    <select class="form-control" name="rating">
                        <option selected disabled>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    stars
                </div>
                <input type="submit" value="Submit Review">
            </form>
        </div>
</body>

</html>