<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div id="container">
        <h1>Welcome, {{ request.session.user_name }}!</h1><a href='/add'>Add Book and Review</a><a href='/logout'>Logout</a>
        <h2>Recent Book Reviews:</h2>
        {% for elem in latest %}
            <p>{{ elem.title }}</p>
            {% for tomatometer in latest %}
                <h5 class="star" style="display: inline">*</h5>
            {% endfor %}
            {% if elem.rating > 0 %}
                <h5 class="star" style="display: inline">stars</h5>
            {% endif %}
            <p>{{ elem.uploader.alias }} says {{ elem.review }}</p>
        {% endfor %}
        <h2>Other Books with Reviews:</h2>
        {% for libro in other %}
            <p>{{ libro.title }}</p>
        {% endfor %}
    </div>
</body>

</html>