<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rev_app/css/boots.css' %}">
    <link rel="stylesheet" href="{% static 'rev_app/css/mycss.css' %}">
    <title>Add Book and Review</title>
</head>

<body>
    <div id="container">
        <a href='/home'>Home</a></h1><a href='/add'>Add Book and Review</a><a href='/logout'>Logout</a>
        <h1>User Alias: {{ user.alias }}</h1>
        <h1>Name: {{ user.name }}</h1>
        <h1>Email: {{ user.email }}</h1>
        <h1>Total Reviews:</h1>
        <h2>Posted Reviews on the Following Books:</h2>
        {% for elem in book %}
            <h3>{{ elem.title }}</h3>
        {% endfor %}
    </div>
</body>

</html>