body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.messages li {
    color: rgb(255, 0, 0);
}

#hero {
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

#opener {
    background: rgba(0,0,0,0);
    position: absolute;
    display: block;
    align-items: center;
}

h2 {
    color: rgb(243, 215, 239);
    text-align: center;
}