<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'food_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'food_app/css/mystyle.css' %}">
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#top" class="brand-logo"><i class="material-icons">local_dining</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/menu">ON THE MENU</a></li>
                    <li><a href="/how">HOW IT WORKS</a></li>
                    <li><a href="/login">LOG IN</a></li>
                    <li><a href="/register" class="waves-effect waves-light btn">SIGN UP</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <header>
        <video class="responsive-video" autoplay muted loop>
            <source src="{% static 'food_app/media/souup.mp4' type='video/mp4' %}">
            <source src="{% static 'food_app/media/pan.mp4' type='video/mp4' %}">
            Your browser does not support the video tag
        </video>
        <div class="opener">
            <h2>Opening Statement</h2>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="col m6"></div>
            <div class="col m6"></div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <script src="../../static/food_app/js/jquery.min.js"></script>
    <script src="../../static/food_app/js/materialize.min.js"></script>
    <script src="../../static/food_app/js/script.js"></script>
</body>

</html>