#container, #container-fluid {
    width: 800px;
    min-height: 400px;
    padding: 15px;
    display: block;
    margin: 10px auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

#container-fluid {
    min-height: 575px;
}

.messages>li {
    color: rgb(255, 0, 0);
}

.options {
    float: right;
}