<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'semi_app/css/boots.css' %}">
    <link rel="stylesheet" href="{% static 'semi_app/css/mycss.css' %}">
    <title>Semi Restful</title>
</head>

<body>
    <div id="container">
        <h1>Users</h1>
        <form action="/addnew" method="post">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elem in users %}
                    <tr>
                        <td>{{ elem.id }}</td>
                        <td><a href='/show/{{elem.id}}'>{{ elem.first_name }} {{ elem.last_name }}</a></td>
                        <td>{{ elem.email }}</td>
                        <td>{{ elem.created_at }}</td>
                        <td>
                            <a href='/show/{{elem.id}}'>Show</a>
                            <a href='/edit/{{elem.id}}'>Edit</a>
                            <a href='/delete/{{elem.id}}'>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="Add a new user">
        </form>
    </div>
</body>

</html>