<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi Restful</title>
</head>

<body>
    <div id="container">
        <h1>Add a new user</h1>
        <form action="/create" method="post">
            {% csrf_token %}
            <div class="form-group">
                First name:
                <input class="form-control" type="text" name="first_name" value="">
            </div>
            <div class="form-group">
                Last name:
                <input class="form-control" type="text" name="last_name" value="">
            </div>
            <div class="form-group">
                Email:
                <input class="form-control" type="text" name="email" value="">
            </div>
            <input type="submit" value="Create">
            <a href="/users">Go Back</a>
        </form>
    </div>
</body>

</html>